################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/MeshyDB.SDK/bin
/src/MeshyDB.SDK/obj
/src/.vs
/src/MeshyDB.SDK.Tests/obj
/src/MeshyDB.SDK.Tests/bin
