.argument{
  margin: 10px;
}

.argument .parameter{
  font-weight: bold;
}

.argument .description{
  text-indent: 50px;
}

.argument .type{
  font-style: italic;
}

.md-fenced-code-tabs{
  margin-bottom:10px; 
}
