################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MeshyDB.SDK.Examples.Console.Net471/bin
/MeshyDB.SDK.Examples.Console.Net471/obj
/packages